[Bb]in/
[Oo]bj/
out/
publish/

.idea/
.vs/
*.user
*.userosscache
*.sln.docstates
.projectSettingsUpdater.xml

*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite-journal

.DS_Store
dist/
node_modules/
httpRequests/

/shelf/
/workspace.xml
/modules.xml
/contentModel.xml
/queries/
/dataSources/
/dataSources.local.xml
